body {
    font-family: 'Kanit', sans-serif;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0)
}

h2 {
  text-align: center;
  color:rgb(0, 0, 0)
}

article {
    text-align: center;
    color:orangered
}

p {
  text-align: center;
  color:black
}

nav {
    text-align: center;
    background-color:black
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #c40a0a;
  }
  
  nav ul li a:hover {
    background-color: #1602cf;
  }

img {
    text-align:  center;
    width: 400px; 
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    max-width: 400px;
    max-height: 400px;
  }

oznaceny-radek {
  text-align: right;
}

li {
  text-align: left;
}

@media (max-width: 767px) {
    h1 {
      text-align: center;
      color: rgb(0, 0, 0);
    }
  
    h2 {
      text-align: center;
      color: rgb(0, 0, 0);
    }
  
    article {
      text-align: center;
      color: orangered;
    }
  
    p {
      text-align: center;
      color: black;
    }
  
    nav {
      text-align: center;
      background-color: black;
      padding: 20px;
    }
  
    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: block;
    }
  
    nav ul li {
      display: block;
      text-align: center;
      margin-bottom: 10px;
    }
  
    nav ul li a {
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      color: #c40a0a;
      font-size: 14px;
    }
  
    nav ul li a:hover {
      background-color: #1602cf;
    }
  
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 50%;
      height: auto;
    }
  
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .image-container img {
      max-width: 50%;
      max-height: 200px;
    }
  
    .oznaceny-radek {
      text-align: right;
    }
  
    li {
      text-align: left;
    }
  }